[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Oo]bj/
[Mm]emoryCaptures/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
.vscode/
.idea/
*.log
*.apk
*.unitypackage
.DS_Store
# Ignore local editor settings
UserSettings/
*.dwlt
*.asset

# (Optional) Also ignore VS Code or Rider specific settings
.vscode/
.idea/